{% extends 'base.html.twig' %}
{% block body %}
    <div class="banner">
        <div class="container">
            <h2>Слава на Отца и Сина и Света го духа .</h2>
            <p>Господи, Иисусе Христе, Сине Божий,
                заради молитвите на Твоята Пречиста Майка
                и на всички светии,
                помилуй нас.
                Амин.</p>
        </div>
    </div>
    <!-- technology -->
    <div class="technology">
        <div class="container">
            <div class="col-md-9 technology-left">
                <div class="tech-no">
                    <!-- technology-top -->
                    {% if articles is empty %}
                        <div class="soci">
                        </div>
                        <div class="tc-ch">
                            <h1       >Няма публикувани статии</h1>
                            <div class="blog-poast-info">
                            </div>
                        </div>
                    {% else %}
                        {% for article in articles %}
                            <div class="soci">
                                <ul>
                                    <li><a href="#" class="facebook-1"> </a></li>
                                    <li><a href="#" class="facebook-1 twitter"> </a></li>
                                    <li><a href="#" class="facebook-1 chrome"> </a></li>
                                    <li><a href="#"><i class="glyphicon glyphicon-envelope"> </i></a></li>
                                    <li><a href="#"><i class="glyphicon glyphicon-print"> </i></a></li>
                                    <li><a href="#"><i class="glyphicon glyphicon-plus"> </i></a></li>
                                </ul>
                            </div>
                            <div class="tc-ch">
                                <div class="tch-img">
                                    <a href="#"><img src="{{ asset('upload/articles/'~article.path) }}" class="img-responsive" alt=""/></a>
                                </div>
                                <a class="blog blue" href="">{{ article.category.name }}</a>
                                <h3><a href="">{{ article.title }}</a></h3>
                                <p>{{ article.summary|raw }}<a href="{{ path('article_view',{'id':article.id}) }}">Прочети повече>>></a></p>
                                <div class="blog-poast-info">
                                    <ul>
                                        <li><i class="glyphicon glyphicon-user"> </i><a class="admin" href="#"> {{ article.publishedBy}} </a></li>
                                        <li><i class="glyphicon glyphicon-calendar"> </i>
                                            {% if article.dateEdit is empty %}
                                                {{ article.dateCreated|date('H:i/d/m/Y') }}
                                            {% else %}
                                                {{ article.dateEdit|date('H:i/d/m/Y') }}
                                            {% endif %}
                                        </li>
                                        <li><i class="glyphicon glyphicon-comment"> </i><a class="p-blog" href="#">0 Коментара </a></li>
                                        {% if is_granted("ROLE_ADMIN") %}
                                            <li><i class="glyphicon glyphicon-edit"> </i>
                                                <a class="admin" href="{{ path('article_edit',{'id':article.id}) }}">
                                                    Редактирай
                                                </a>
                                            </li>
                                            <li><i class="glyphicon glyphicon-remove-sign"> </i>
                                                <a class="admin" href="{{ path('article_delete',{'id':article.id}) }}">
                                                    Изтрий
                                                </a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        {% endfor %}
                    {% endif %}
                    <!-- technology-top -->
                </div>
            </div>
            {% block sidebar %}
                {{ include(':default:right-sidebar.html.twig') }}
            {% endblock %}
        </div>
    </div>
{% endblock %}
